<body data-spy="scroll" data-target="#navigation" data-offset="120">
  <!-- intro-->
  <section id="intro" class="intro">
    <div class="overlay"></div>
    <div class="content">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12">
            <h5>熱情、專注，以行動創造改變</h5>
            <h1>我是 Jeffrey </h1>
            <h5>Fullstack Rails Developer since 2013 </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro end-->
  <!-- navbar-->
  <header class="header">
    <div class="sticky-wrapper">
      <div role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-btn btn-sm navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <!-- <a href="#intro" class="navbar-brand scroll-to"><img src="img/logo.png" alt=""></a> -->
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#intro">Home</a></li>
              <li><a href="#about">About </a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#text">Goal</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- /.navbar-->
  <!-- about-->
  <section id="about" class="text">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="heading">About me: </h2>
          <p>從 2013 年開始寫 Rails 起，我陸續使用許多技術實作功能需求，像是 </p>
          <ul>
            <li>OAuth(Doorkeeper、facebook、google)</li>
            <li>Push Notification to iOS & Android </li>
            <li>Deployment(Linode、AWS EC2)</li>
            <li>File upload(AWS S3、Google Cloud Platform)</li>
            <li>API development</li>
          </ul>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <p>
            <%= image_tag "IMG_8206.JPG", class: "img-responsive" %>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- about end-->
  <!-- Services-->
  <section id="services" style="background-color: #eee">
    <div class="container">
      <div class="row services">
        <div class="col-md-12">
          <h2 class="heading">專長</h2>
          <div class="row">
            <div class="col-sm-4">
              <div class="box">
                <div class="icon"><i class="fa fa-desktop"></i></div>
                <h4>網站開發</h4>
                <p>以 Rails 開發網站，從前端到後段。</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <div class="icon"><i class="fa fa-print"></i></div>
                <h4>專案管理</h4>
                <p>從寫企劃到和工程師聊技術，樣樣 OK</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <div class="icon"><i class="fa fa-globe"></i></div>
                <h4>You Name IT</h4>
                <p>說不定有什麼有趣的任務滿適合我，何不來聊聊？</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services end-->

  <!-- Portfolio / gallery-->
  <section id="portfolio" class="gallery">
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <h2 class="heading">Portfolio</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box"><a href="https://progolflink.nl/?lang=en" title="" target="blank"><%= image_tag "pgl_logo.png", class: "img-responsive" %></a></div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="box"><a href="http://qrcode.innerexile.com/register_records" title="" target="blank"><img src="img/portfolio-2.jpg" alt="" class="img-responsive"></a></div>
            </div> -->
            <div class="col-sm-4">
              <div class="box"><a href="https://innerexile.com/" title="" target="blank"><%= image_tag "innerexile_logo.png", class: "img-responsive" %></a></div>
            </div>
            <div class="col-sm-4">
              <div class="box"><a href="http://ivod.ccw.org.tw/" title="" target="blank"><%= image_tag "ccw_logo.jpg", class: "img-responsive" %></a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box"><a href="http://web.waitable.tw/?store_name=tiger_topoki" title="" target="blank"><%= image_tag "waitable_logo.png", class: "img-responsive" %></a></div>
            </div>
            <div class="col-sm-4">
              <div class="box"><a href="https://www.metisgl.com/zh-TW/pages/home" title="" target="blank"><%= image_tag "metis_logo.png", class: "img-responsive" %></a></div>
            </div>
            <div class="col-sm-4">
              <div class="box"><a href="http://139.59.250.102/" title="" target="blank"><%= image_tag "weschool_logo.png", class: "img-responsive" %></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box"><a href="https://backme.tw" title="" target="blank"><%= image_tag "backme_logo.png", class: "img-responsive" %></a></div>
            </div>
            <div class="col-sm-4">
              <div class="box"><a href="https://lighthouse.alphacamp.co" title="" target="blank"><%= image_tag "ac_logo.png", class: "img-responsive" %></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio / gallery end-->
  <!-- text page-->
  <section id="text" style="background-color: #333;" class="text-page section-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Goal</h2>
          <div class="row">
            <div class="col-sm-6">
              <p>2016/11/1，我到美國買了一台摩托車，從舊金山啟程，一路南下到世界最南端的城市、有世界盡頭之稱的 Ushuaia 烏斯懷亞；歷時 400 天、14 個國家、超過 33,000 公里後，我已完成這趟<a href="https://wanderers.tw/users/jeffrey/journeys/1-%E6%BC%AB%E9%81%8A%E8%A8%98" target="_blank" style="color: rgb(194, 0, 14)">摩托車漫遊記</a>。</p>
            </div>
            <div class="col-sm-6">
              <p>
                漫長的旅程已經結束，是時候要往生活的下一個階段前進了。相較於更加廣闊的世界，此刻我更希望獲得扎實的工作經驗，繼續朝專業程式設計師的方向進步。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- text page end-->
  <!-- contact-->
  <section id="contact" style="background-color: #fff;" class="text-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Contact</h2>
          <div class="row">
            <!-- <div class="col-md-6">
              <form id="contact-form" method="post" action="#" class="contact-form">
                <div class="controls">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="name">Your firstname *</label>
                        <input type="text" name="name" placeholder="Enter your firstname" required="required" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="surname">Your lastname *</label>
                        <input type="text" name="surname" placeholder="Enter your  lastname" required="required" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="surname">Your email *</label>
                    <input type="email" name="email" placeholder="Enter your  email" required="required" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="surname">Your message for us *</label>
                    <textarea rows="4" name="message" placeholder="Enter your message" required="required" class="form-control"></textarea>
                  </div>
                  <div class="text-center">
                    <input type="submit" name="name" value="Send message" class="btn btn-primary btn-block">
                  </div>
                </div>
              </form>
            </div> -->
            <div class="col-sm-12">
              <p class="social">
                <a href="https://www.facebook.com/rola.jeffrey" title="" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/jeffrey410469" title="" class="twitter"><i class="fa fa-github"></i></a>
                <!-- <a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a> -->
                <!-- <a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a> -->
                <a href="mailto:jeffrey410469@gmail.com" title="" class="instagram"><i class="fa fa-envelope"></i></a>
                <a href="#" title="" class="phone">
                  <i class="fa fa-phone"></i>
                  0975-978343
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div id="map"></div> -->
  <footer style="background-color: #111;" class="section-inverse">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-6">
          <p>&copy;2016 Jeffrey</p>
        </div>
        <div class="col-md-6">
          <p class="credit">Template by <a href="http://bootstrapious.com/landing-pages">Bootstrapious</a></p>
          <!-- Please do not remove the backlink to us. It is part of the licence conditions. Thanks for understanding :)
          -->
        </div>
      </div>
    </div>
  </footer>
