<body data-spy="scroll" data-target="#navigation" data-offset="120">
  <!-- intro-->
  <section id="intro" class="intro">
    <div class="overlay"></div>
    <div class="container">
      <ul class="nav navbar-nav locale-nav">
        <li><%= link_to "中文", params.merge(locale: "zh-TW"), class: is_current_locale?("zh-TW") %></li>
        <li><%= link_to "En", params.merge(locale: :en), class: is_current_locale?("en") %></li>
      </ul>
    </div>
    <div class="content">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12">
            <h5><%= t('intro.title1') %></h5>
            <h1><%= t('intro.title2') %></h1>
            <h5><%= t('intro.title3') %></h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro end-->
  <!-- navbar-->
  <header class="header">
    <div class="sticky-wrapper">
      <div role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-btn btn-sm navbar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span></button>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#intro">Home</a>
              </li>
              <li>
                <a href="#about">About</a>
              </li>
              <li>
                <a href="#skills">Skills</a>
              </li>
              <li>
                <a href="#portfolio">Works</a>
              </li>
              <li>
                <a href="#text">Goal</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- /.navbar-->
  <!-- about-->
  <section id="about" class="text">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="heading">About</h2>
          <h2>
            <small><%= t('about.sub_heading') %></small>
          </h2>
          <p><%= t('about.desc1') %></p>
          <p><%= t('about.desc2') %></p>
          <ul>
            <li>TDD using Rspec 3</li>
            <li>OAuth 2.0
              <ul>
                <li>
                  As
                  <b>Resource Server</b>
                  using doorkeeper gem</li>
                <li>As
                  <b>Client</b>
                  with facebook and google</li>
              </ul>
            </li>
            <li>Payment Gateway(using Spgateway 智富通)</li>
            <li>Push Notification(using AWS-SNS)</li>
            <li>Virtual Machine deployment(using Capistrano)</li>
            <li>File upload(AWS S3、Google Cloud Platform)</li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="timeline">
            <div class="timeline-container right">
              <div class="timeline-content">
                <h6>Freelence</h6>
                <h6>
                  <small>2016/10 - 2018/3</small>
                </h6>
                <p>Rails developer</p>
                <p>Backpacker</p>
                <p>Digital Nomad</p>
              </div>
            </div>
            <div class="timeline-container left">
              <div class="timeline-content">
                <h6>BackerFounder</h6>
                <h6>
                  <small>2016/8 - 2016/9</small>
                </h6>
                <p>Rails developer</p>
              </div>
            </div>
            <div class="timeline-container right">
              <div class="timeline-content">
                <h6>Brubecker</h6>
                <h6>
                  <small>2015/10 - 2016/5</small>
                </h6>
                <p>Rails developer</p>
              </div>
            </div>
            <div class="timeline-container left">
              <div class="timeline-content">
                <h6>Innerexile</h6>
                <h6>
                  <small>2015/3 - 2015/8</small>
                </h6>
                <p>Rails developer</p>
              </div>
            </div>
            <div class="timeline-container right">
              <div class="timeline-content">
                <h6>Codegreen</h6>
                <h6>
                  <small>2014/3 - 2015/2</small>
                </h6>
                <p>Rails developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about end-->
  <!-- Skills-->
  <section id="skills" style="background-color: #eee">
    <div class="container">
      <div class="row skills">
        <div class="col-md-12">
          <h2 class="heading">Skills</h2>
          <div class="row">
            <div class="col-sm-4">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-desktop"></i>
                </div>
                <h4><%= t('skill.web_dev_title') %></h4>
                <p><%= t('skill.web_dev_desc') %></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-print"></i>
                </div>
                <h4><%= t('skill.pm_title') %></h4>
                <p><%= t('skill.pm_desc') %></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-globe"></i>
                </div>
                <h4><%= t('skill.whatever_title') %></h4>
                <p><%= t('skill.whatever_desc') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Skills end-->

  <!-- Portfolio / gallery-->
  <section id="portfolio" class="gallery">
    <div class="container clearfix">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="heading">Works</h2>
        </div>
        <div class="col-sm-3 box">
          <a href="https://progolflink.nl/?lang=en" title="" target="blank"><%= image_tag "pgl_logo.png", class: "img-responsive" %></a>
        </div>
        <div class="col-sm-3 box">
          <a href="https://innerexile.com/" title="" target="blank"><%= image_tag "innerexile_logo.png", class: "img-responsive" %></a>
        </div>
        <div class="col-sm-3 box">
          <a href="http://ivod.ccw.org.tw/" title="" target="blank"><%= image_tag "ccw_logo.jpg", class: "img-responsive" %></a>
        </div>
        <div class="col-sm-3 box">
          <a href="http://web.waitable.tw/?store_name=tiger_topoki" title="" target="blank"><%= image_tag "waitable_logo.png", class: "img-responsive" %></a>
        </div>
        <div class="col-sm-3 box">
          <a href="https://www.metisgl.com/zh-TW/pages/home" title="" target="blank"><%= image_tag "metis_logo.png", class: "img-responsive" %></a>
        </div>
        <div class="col-sm-3 box">
          <a href="http://139.59.250.102/" title="" target="blank"><%= image_tag "weschool_logo.png", class: "img-responsive" %></a>
        </div>
        <div class="col-sm-3 box">
          <a href="https://backme.tw" title="" target="blank"><%= image_tag "backme_logo.png", class: "img-responsive" %></a>
        </div>
        <div class="col-sm-3 box">
          <a href="https://lighthouse.alphacamp.co" title="" target="blank"><%= image_tag "ac_logo.png", class: "img-responsive" %></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio / gallery end-->
  <!-- text page-->
  <section id="text" style="background-color: #333;" class="text-page section-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Goal</h2>
          <div class="row">
            <div class="col-sm-6">
              <p><%= t('goal.paragraph1_html') %></p>
            </div>
            <div class="col-sm-6">
              <p><%= t('goal.paragraph2') %></p>
            </div>
            <div class="col-sm-12">
              <%= image_tag('map.png', class: "img-responsive") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- text page end-->
  <!-- contact-->
  <section id="contact" style="background-color: #fff;" class="text-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Contact</h2>
          <div class="row">
            <!-- <div class="col-md-6"> <form id="contact-form" method="post" action="#" class="contact-form"> <div class="controls"> <div class="row"> <div class="col-sm-6"> <div class="form-group"> <label for="name">Your firstname *</label> <input type="text"
            name="name" placeholder="Enter your firstname" required="required" class="form-control"> </div> </div> <div class="col-sm-6"> <div class="form-group"> <label for="surname">Your lastname *</label> <input type="text" name="surname" placeholder="Enter
            your lastname" required="required" class="form-control"> </div> </div> </div> <div class="form-group"> <label for="surname">Your email *</label> <input type="email" name="email" placeholder="Enter your email" required="required" class="form-control">
            </div> <div class="form-group"> <label for="surname">Your message for us *</label> <textarea rows="4" name="message" placeholder="Enter your message" required="required" class="form-control"></textarea> </div> <div class="text-center"> <input
            type="submit" name="name" value="Send message" class="btn btn-primary btn-block"> </div> </div> </form> </div> -->
            <div class="col-sm-12">
              <p class="social">
                <a href="https://www.facebook.com/rola.jeffrey" title="" class="facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="https://github.com/jeffrey410469" title="" class="twitter">
                  <i class="fa fa-github"></i>
                </a>
                <!-- <a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a> -->
                <!-- <a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a> -->
                <a href="mailto:jeffrey410469@gmail.com" title="" class="instagram">
                  <i class="fa fa-envelope"></i>
                </a>
                <a href="#" title="" class="phone">
                  <i class="fa fa-phone"></i>
                  0975-978343
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div id="map"></div> -->
  <footer style="background-color: #111;" class="section-inverse">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-6">
          <p>&copy;2016 Jeffrey</p>
        </div>
        <div class="col-md-6">
          <p class="credit">Template by
            <a href="http://bootstrapious.com/landing-pages">Bootstrapious</a>
          </p>
          <!-- Please do not remove the backlink to us. It is part of the licence conditions. Thanks for understanding :) -->
        </div>
      </div>
    </div>
  </footer>
